<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark light-blue lighten-1 scrolling-navbar" [containerInside]="false">
  <logo>
      <a class="logo navbar-brand" routerLink=""><strong>My Stock Portfolio</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbRippleRadius>
              <a class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link" routerLink="/all-trades">All Trades</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link" routerLink="/dividends">Dividends</a>
          </li>
      </ul>

<!--
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link"><i class="fa fa-instagram"></i></a>
        </li>
    </ul>
-->

  </links>
</mdb-navbar>